:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(26, 100%, 70%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Black-transparent: hsla(0, 0%, 0%, 0.75);

}

body{
    height: 100vh;
    color: var(--Dark-grayish-blue);
    
}

.nav{
    padding: 1rem 0;
    border-bottom: 2px solid var(--Grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    margin: clamp(1rem,2vw,4rem);
}
.nav__left, .nav__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    margin: clamp(1rem,2vw,4rem);
}
.nav__menu-button, .cart__button{
    min-width: 2.5rem;
}
.nav__avatar {
    max-height: 3rem;
}
.nav__avatar:hover{
   border: 4px solid var(--Orange);
   border-radius: 50%;
}
.cart__button{
    position: relative;
}
.cart__count{
    border-radius: 50%;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 0.75rem; 
    position: absolute;
    padding: 0 3px;
    top: -6px;
    right: 0;
    z-index: -1;
}
.menu{
  display:none;
}
.menu__close{
    display: none;
    width: 1.5rem;
    padding-bottom: 3rem;
}
.menu-mobile{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    background-color: var(--White);
    height: 100%;
    width: 60vw;
}

.product-page{
    position: relative;
    padding: 2rem 0;
}

.gallery{
    text-align: center;
    border-radius: 5px;
}

.gallery__modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    background-color: var(--Black-transparent);
    top: 0;
    left: 0;
    z-index: 1;
}
.gallery__modal--close{
    display: none;
    width: 1.5rem;
    padding-bottom: 3rem;
}
.modal__content{
    margin: auto;
    display: block;
    width: 40%;
    
}
.gallery__card{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery__main-image{
    margin-bottom: 1.25rem;
    border-radius: 1rem;
}
.gallery__prev{
    z-index: 1;
    background-color: var(--White);
    border-radius: 50%;
    padding: 0.75rem 1rem ;  
    border: none;
    margin-right: -3.5rem;
}
.gallery__next{
    z-index: 1;
    background-color: var(--White);
    border-radius: 50%;
    padding: 0.75rem 1rem ;  
    border: none;
    margin-left: -3.5rem;  
}
.gallery__thumbnails{
    display: none;
}
.gallery__thumb{
    max-width: 23%;
    cursor: pointer;
    transition: transform 0.4s;
    border-radius: 0.75rem;
}
.gallery__thumb:active, .gallery__thumb:hover{
    filter: brightness(160%) saturate(50%);
    border: 4px solid var(--Orange);
}

.product{
    padding: clamp(1rem,2vw,4rem);
    max-width: 30rem;
    margin: 0 auto;
}
.product__brand{
    text-transform: uppercase;
}
.product__title{
    padding: 2rem 0;
    font-size: 2.5rem;
    color: var(--Black);
    font-weight: 700;
}
.product__pricing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    margin: clamp(1rem,2vw,4rem);
}

.product__price-current {
    padding: 1rem 0;
    font-size: 1.75rem;
    color: var(--Black);
}
.product__discount{
    font-size: 1.25rem;
    background-color: var(--Black);
    color: var(--White);
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
}
.product__price-original{
    text-decoration: line-through;
}

.quantity__selector{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    margin: clamp(1rem,2vw,4rem);
    background-color: var(--Light-grayish-blue);
    border-radius: 10px;
    color: var(--Black);
    font-size: 1.5;
    padding: 1rem 2rem;
}

.button{
    width: 100%;
    padding: 1rem;
    background-color: var(--Orange);
    color: var(--Black);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}
.button:hover{
    background-color: var(--Pale-orange);
}
.button--checkout{
    display: none;
}

.cart-box{
   display: none;
    border-radius: 10px;
    background-color: var(--White);
    position: absolute;
    box-shadow: 0 2px 5px var(--Dark-grayish-blue);
    top:0;
    width: 90vw;
    max-width: 400px;
    right: 5%;
    height: auto;
    padding: 1rem;
    z-index: 2;
}
.cart-box__title{
    border-bottom: 2px solid var(--Grayish-blue);
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--Black);
}
.cart-box__items{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    margin: clamp(1rem,2vw,4rem);
}
.cart-box__items li{
    margin-left: -30px;
}

.orange:hover{
    path{
        stroke: var(--Orange);
    }
}
.orange-x:hover{
    path{
        fill: var(--Orange);
    }
}
.pale-orange:hover{
 path{
    fill: var(--Pale-orange);
     stroke: var(--Pale-orange); 
 }
}
.black{
    path{
        fill: var(--Black)
    }
}

@media (min-width: 768px) {
    body{
        padding: 0 5%;
    }
 
    .menu{
        display: flex;
        gap: clamp(1rem,2vw, 3rem);
    }
    .menu__a:hover{
        border-bottom: 4px solid var(--Orange);
        color: var(--Black);
        padding-bottom: 2rem;
        margin-bottom: -2rem;
    }
    .nav__menu-button{display: none;}
    .gallery__prev, .gallery__next{
        display: none;
    }
    .gallery__thumbnails{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .image-gallery{
        padding: 0 clamp(3rem,2vw, 5rem);
    }
    .product-page{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380Px, 1fr));
        gap: 1rem;
    }
    .product__pricing{
        flex-direction: column;
        align-items: start;
        gap: 0;
    }    
    .product__actions{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
}
