:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Black-transparent: hsla(0, 0%, 0%, 0.75);

}

body{
    height: 100vh;
    color: var(--Dark-grayish-blue);
}
/*create nav bar*/
.nav{
    padding: 1.5rem;
    border-bottom: 2px solid var(--Grayish-blue);
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    
}
.menu-mobile{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    background-color: var(--White);
    height: 100%;
    width: 60vw;
}
.close{
    display: none;
    width: 1.5rem;
    padding-bottom: 3rem;
   
}

.cart{
    max-height: 1.5rem;
}
.account{
    max-height: 3rem;
}
.account:hover{
   border: 4px solid var(--Orange);
   border-radius: 50%;
}
.menu{
  display:none;
}

/*main */
.container{
    padding: 2rem 0;
}

/*create the galery*/
.image-galery{
    text-align: center;
    border-radius: 5px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-btn{
    background-color: var(--White);
    border-radius: 50%;
    padding: 1rem;  
    border: none;
}

#main-image{
    margin-bottom: 1.25rem;
    border-radius: 1rem;
}
#preview{
    margin-right: -3.5rem;
    z-index: 1;
}
#next{
    margin-left: -3.5rem;
    z-index: 1;
}
.thumb{
    max-width: 23%;
    cursor: pointer;
    transition: transform 0.4s;
    border-radius: 0.75rem;
}
.thumb:active, .thumb:hover{
    filter: brightness(140%) saturate(70%);
    border: 4px solid var(--Orange);
}
.thumbnails{
    display: none;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    background-color: var(--Black-transparent);
    top: 0;
    left: 0;
    z-index: 1;
}
.modal-content{
    margin: auto;
    display: block;
    width: 50%;
    

}
@media (min-width: 768px) {
 
    .menu{
        display: flex;
        gap: clamp(1rem,2vw, 3rem);
    }
    .menu__a:hover{
        border-bottom: 4px solid var(--Orange);
        color: var(--Black);
        padding-bottom: 2rem;
        margin-bottom: -2rem;
    }
    .menu-icon{display: none;}

    .container{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450Px, 1fr));
        gap: 2rem;
        }
    .thumbnails{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .image-gallery{
        padding: 0 clamp(3rem,2vw, 5rem);
       
    }
    .img-btn{
        display: none;
    }
}
}