:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black/*with 75% opacity for lightbox background*/: hsl(0, 0%, 0%);

}
body{
    padding: 5%;
    color: var(--Dark-grayish-blue);
}
/*create nav bar*/
.nav{
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--Grayish-blue);
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem,2vw,4rem);
    
}
.menu-mobile{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    background-color: var(--White);
    height: 100%;
    width: 60vw;
}
.close{
    display: none;
    width: 1.5rem;
    padding-bottom: 3rem;
}

.cart{
    max-height: 1.5rem;
}
.account{
    max-height: 3rem;
}
.account:hover{
   border: 4px solid var(--Orange);
   border-radius: 50%;
}
.menu{
  display:none;
}


/*create the galery*/
.image-galery{
    text-align: center;
}
#main-image{
    width: 80%;
    margin-bottom: 1.25rem;
}
.thumb{
    width: 20%;
    cursor: pointer;
    transition: transform 0.2s;
}
.thumb:hover{
    transform: scale(1.1);
}
@media (min-width: 768px) {
    .menu{
        display: flex;
        gap: clamp(1rem,2vw, 3rem);
    }
    .menu__a:hover{
        border-bottom: 4px solid var(--Orange);
        color: var(--Black);
        padding-bottom: 2rem;
        margin-bottom: -2rem;
    }
    .menu-icon{display: none;}
}